.basic {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: .4em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.basicIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.basicP {
  margin: 0;
  padding: 0;
}